<div *ngIf="recipe" class="recipe">
  <div class="action">
    <button class="action__button" [routerLink]="['edit']">Edit Selected Recipe <fa-icon icon="edit"></fa-icon></button>
    <button class="action__button" (click)="openDialog()">Delete Selected Recipe <fa-icon icon="ban"></fa-icon></button>
  </div>
  <h1>{{recipe.name}}</h1>
  <span class="recipe__description">{{ recipe.description }}</span>
  <span class="recipe__preparation-time">Preparation time: {{ recipe.preparationTimeInMinutes | time }}</span>
  <details>
    <summary>Ingredients:</summary>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients"> {{ingredient.name}} - {{ ingredient.quantity }} </li>
    </ul>
  </details>
</div>
<router-outlet></router-outlet>