:root {
  --color-dark-1: #262322;
  --color-dark-2: #63372C;
  --color-light: #FFFDF7;
  --color-accent: #C97D60;
  --color-light-1: #FFBCB5;
  --color-light-2: #F2E5D7;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-dark);
    background: linear-gradient(45deg, var(--color-light-1), var(--color-light-2));
    min-height: 100vh;
}